const config = <%= serialize(options) %>

export default {
  ...config,
  redirect() {
    return {
      login: '/',
      logout: '/',
      home: '/',
      ...typeof config.redirect === 'function'
        ? config.redirect.call(this)
        : config.redirect,
    }
  },
}
